<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="app-title">Department of Social Welfare and Development San Luis Batangas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2 class="description">Welcome to the Department of Social Welfare and Development San Luis Batangas</h2>
    <p class="description-text">
      The town of San Luis, formerly called “Balibago,” was among the southern barangays of old Taal. It was named
      Balibago because of its proximity to Balibago River, which separates San Luis from Taal. The river was so called
      because of its ever-changing course, which is vernacular means “pabago-bago.”
    </p>
    <div class="contact-links">
      <p>Contact Us:</p>
      <a href="https://www.facebook.com/miosanluisbatangas">San Luis, Batangas - MIO</a>
    </div>
  </div>
</ion-content>
